.search-output-container{
  width:80%;
  margin:auto;
  background-color: #5a5a5a;
  border-radius:0 0 8px 8px;
}

.search-input-container {
  width:80%;
  margin: 20px auto;
  background-color: #5a5a5a;
  border-radius:8px;
  padding:20px 0;
  text-align: center;
  div{
    margin: auto;
    input {
      border-radius:8px 0 0 8px;
      outline: 0;
      width:40%;
      border:2px 0 0 2px solid lightgray;
      padding:5px;
    }
    button{
      border-radius:0 8px 8px 0;
      border:none;
      border:2px solid lightgray;
      padding:5px;
    }
  }
  &.expanded {
  margin: 20px auto 0;
  background-color: #5a5a5a;
  border-radius:8px 8px 0 0;
  }
}

.search-results {
  padding:20px;
}