.error {
  border:2px solid red;
}

.hiddenError {
  display:hidden;
}

.menu-hidden {
  display: none;
}

.menu-expanded{
  position: absolute;
  right:20px;
  top:0;
  display:  initial;
  background-color:#9A1717;
  border-left:2px solid  #7c7c7c;
  border-right:2px solid  #7c7c7c;
  border-bottom:2px solid  #7c7c7c; 
  border-top:2px solid #9A1717;
  border-radius: 0 0 8px 8px; 
  z-index:2;
}

.user-select-buttons{
  width: 170px;
  background-color: white;
  border: 2px solid #7c7c7c;
  border-radius: 20px;
  margin:10px;
  line-height: 30px;
  font-size: 1.2rem;
}