header {
  background-color: #9A1717;
  padding:20px;
  color: #EAE1E1;
}

h1 {
  margin: 0;
  text-align: center;
}

a{
  text-decoration: none;
  color:inherit;
}

.menu-hidden {
  visibility: hidden;
}

.menu-expanded{
  visibility:  visible;
}

.header_nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.genre-link{
  text-decoration: none;
  color:#EAE1E1;
}