header {
  background-color: #9A1717;
  padding-top:10px;
  color: #EAE1E1;

}

nav > a:hover {
  text-shadow: 2px 2px 5px white;
}

h1 {
  margin: 0;
  text-align: center;
}

img.user-toggle-button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

a{
  text-decoration: none;
  color:inherit;
}

.error {
  border:2px solid red;
}

.hiddenError {
  display:hidden;
}

.user-select-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  top:20px;
  right:20px; */
}

.menu-hidden {
  display: none;
}

/* .menu-expanded{
  position: absolute;
  right:20px;
  top:0;
  display:  initial;
  z-index:2;
} */

.user-select-buttons{
  width: 170px;
  background-color: white;
  border: 2px solid #7c7c7c;
  border-radius: 20px;
  /* margin:10px; */
  line-height: 20px;
  font-size: 1.2rem;
}

.header_nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px #7c7c7c;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.header-link{
  text-decoration: underline;
  color:#EAE1E1;
}

.user-toggle-button{
  height:40px;
}